body {
    background-color: rgb(252, 241, 222);
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.div-container {
    display: flex;
    width: 550px;
    height: 550px;
    flex-wrap: wrap;
    margin-top: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#div-pixel {
    background-color: rgb(255, 255, 255);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.setting-container {
    padding: 10px 15px;
    border-radius: 6px;
    background-color: rgb(250, 226, 118);
    display: flex;
    width: 550px;
    justify-content: space-between;
    position: relative;
    top: 165px;
    align-items: center;
    
    
}

.setting-btn {
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    background-color: #FF5E5B;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: rgb(27, 25, 24);
}

.setting-btn:hover {
    background-color: rgb(236, 80, 78);
}


input[type=color] {
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    color: rgb(83, 83, 83);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    color: #FF5E5B;
}